* {
    /* height: 100%; */
    /* margin: 0; */
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.login-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-form {
    margin: auto 100px; /* Center the form */
    padding: 40px;
    background: white; /* White background for the form */
    width: 370px;
    min-width: 300px;
    /* display: flex; */
    flex-direction: column;
    align-items: center; /* Center the form contents */
    text-align: center;
    height: auto;
}

.email-input, .password-input {
    width: 85%; /* Adjust width to be full within the form */
    padding: 16px 20px;
    margin: 15px auto 5px; /* Align to center */
    border: 2px solid #C8C8C8; /* Border for the inputs */
    border-radius: 100px; /* Rounded corners for inputs */
    background: #FFFFFF; /* Light background for inputs */
    height: auto;
}

.email-input:focus, .password-input:focus {
    background-color: #fff;
    outline: none;
    border-color: #a3a3a3; /* Darker border on focus */
}

.btn {
    padding: 16px 20px;
    height: auto;
    width: 100%;
    margin: 15px 0;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.primary {
    background-color: #AE0143; /* Primary button color */
    color: white;
}

.btn.primary:active  {
    background-color: transparent;
    border: 2px solid #AE0143;
    color: #AE0143; /* Darker shade for hover state */
}

.image-side {
    display: none; /* Initially don't display the image-side */
}

.login-side {
    width: 50%;
    display: flex;
    justify-content: center;
}

.password-container {
    position: relative;
    height: auto;
}

.toggle-password {
    position: absolute;
    right: 5%; /* Dostosuj do rozmiarów inputu */
    top: 25%;
    transform: translateY(-25%);
    border: none;
    background: none;
    cursor: pointer;
    color: #C8C8C8;
    height: auto;
}

.toggle-password-repeat {
    position: absolute;
    right: 5%; /* Dostosuj do rozmiarów inputu */
    top: 75%;
    transform: translateY(-30%);
    border: none;
    background: none;
    cursor: pointer;
    color: #C8C8C8;
    height: auto;
}

.profile-photo-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  .file-input {
    display: none; /* Hide the actual input */
  }
  
  .file-label {
    cursor: pointer;
    text-align: center;
  }
  
   .dashed-circle {
    border: 2px dashed #E8BACC;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Zapewnia, że obrazek nie wyjdzie poza okrąg */
  }
  
  .dashed-circle img {
    width: 100%; /* Zapewnia, że obrazek wypełni okrąg */
    border-radius: 50%;
    height: 100%;
    display: none; /* Początkowo ukryj obrazek */
  }
  
  .dashed-circle img.visible {
    display: block; /* Pokaż obrazek po wczytaniu */
  }
  
  .hidden {
    display: none;
  }
  
  .upload-text {
    color: #E8BACC; /* Match your primary color */
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
  }
  
  .photo-text {
    color: #AE0143; /* Match your primary color */
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem; /* Smaller text size for the photo text */
    font-weight: bold;
  }
  

@media screen and (min-width: 769px) {
    .login-container {
        justify-content: flex-end; /* Align the login form to the right */
    }

    .image-side {
        display: block; /* Display the image-side on desktop */
        width: 50%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .image-login-page {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .login-form {
        width: 60%;
        padding: 20;
    }
}